<html>
<head>
  <title>PostComment</title>
</head>
<body>
<h3>Submit a Washington Post story url</h3>

<form method="post" action="/result">
  <div class="form-group">
    <label for="url">URL</label>
    <input name="url" class="form-control">
  <div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<p>Bookmarklet: <a href='javascript:(function(){if(window.location.href.match(/^http:\/\/www\.washingtonpost\.com\/[a-zA-Z0-9]/)===null){return;};window.location.href="http://postcomments.herokuapp.com/show?url="+window.location.href;}());' title="PostComment">PostComment</a> (drag to bookmarks bar)</p>

<p>Brought to you by <a href="https://github.com/dwillis/post_haste">PostHaste</a> and <a href="http://www.heroku.com/">Heroku</a>.</p>

</body>
</html>
