<html>
<head>
  <title>PostComment</title>
</head>
<body>
<h3>Submit a Washington Post story url</h3>

<form method="post" action="/result">
<input name="url" />
  <div><button type="submit">Submit</button></div>
</form>

<p>Brought to you by <a href="https://github.com/dwillis/post_haste">PostHaste</a> and <a href="http://www.heroku.com/">Heroku</a>.</p>

</body>
</html>