<html>
<head>
  <title>PostComment</title>
</head>
<body>
<h3>Submit a Washington Post story url</h3>

<form class="form-search" method="post" action="/result">
<input name="url" class="input-xxlarge search-query">
  <div><button type="submit" class="btn">Submit</button></div>
</form>

<p>Brought to you by <a href="https://github.com/dwillis/post_haste">PostHaste</a> and <a href="http://www.heroku.com/">Heroku</a>.</p>

</body>
</html>